@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">O - A - T</h1>
    <br />
    <p>Visit <a href="https://localhost:7203/Projects">Our Site</a> to see more</p>
</div>
